PORT=8081
API_TOKEN=myapitokenchangethislater
ENABLE_API_TOKEN=false

# (Optional. Default: false) Ensure content type check via header request (HEAD)
ENABLE_CONTENT_TYPE_CHECK=false

# (Optional. Default: /tmp/) Directory to store temporary files
IMG_DOWNLOAD_PATH=/tmp/

# (Optional. Default: 100) Maximum size of video for classification in MB.
MAX_VIDEO_SIZE_MB=100

# (Optional. Default: automatically inferred from ffmpeg.path dependency) Set to other path for ffmpeg installed in system (example: /usr/bin/ffmpeg) otherwise use from ffmpeg pre-installed dependency
# FFMPEG_PATH=

# (Optional. Default: 86400) Set duration of classification cache
CACHE_DURATION_IN_SECONDS=86400

# (Optional. Default: 200000) Set maximum number of item in classification cache
MAX_CACHE_ITEM_NUM=200000

# (Optional. Default: 60) Set request timeout for downloading image or checking image header
REQUEST_TIMEOUT_IN_SECONDS=60

# (Optional) User agent for downloading files
USER_AGENT='Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/135.0.0.0 Safari/537.36'

# (Optional. Default: 2) Minimum number of workers in the worker pool for NSFW detection and image processing.
WORKER_POOL_MIN_WORKERS=2

# (Optional. Default: WORKER_POOL_MIN_WORKERS or 2) Maximum number of workers in the worker pool. Falls back to MIN_WORKERS if not set, then to 2.
WORKER_POOL_MAX_WORKERS=4

# (Optional. Default: false) Enable buffer processing - EXPERIMENTAL - In phase transition
ENABLE_BUFFER_PROCESSING=false

# (Optional. Default: 10) Set concurrency for video processing tasks
VIDEO_PROCESSING_CONCURRENCY=10

# (Optional. Default: 5000) Set maximum number of item in mutex cache
MUTEX_CACHE_MAX_ITEM_NUM=5000

# (Optional. Default: 600) Set duration of mutex cache
MUTEX_CACHE_TTL_IN_SECONDS=600